.header {
  background-color: rgba(255, 255, 255, 0.900) !important;
  backdrop-filter: blur(24px);
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(206, 206, 206);
  z-index: 2;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 22px;
  margin-left: 20px;
  margin-right: 24px;
  padding: 6px 6px 6px 6px;
  
}
.hamburger-menu:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 20px;
}
.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 38px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px rgb(192, 192, 192) solid;
  border-radius: 20px 0px 0px 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  appearance: none;
  width: 0;
}
.search-bar:focus {
  outline: none;
  border: 1px solid rgba(82, 179, 245, 0.888);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 41.5px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px rgb(192, 192, 192) solid;
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 0px 20px 20px 0px;
}
.search-button,
.voice-search-button,
.notifications-below {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search-button .tolltip,
.voice-search-button .tolltip,
.notifications-below .tolltip {
  font-family: Roboto, arial;
  position: absolute;
  bottom: -40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: rgba(52, 52, 52, 0.649);
  color: white;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-size: 12px;
}
.search-button:hover .tolltip,
.voice-search-button:hover .tolltip,
.notifications-below:hover .tolltip {
  opacity: 1;
}
.search-button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}
.search-icon {
  height: 25px;
}

.voice-search-button {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 200px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.search-icon-mobile {
  display: none;
}
.notifications-icon {
  height: 26px;
  padding: 7px 7px 7px 7px;
  margin-right: 5px;
}
.notifications-icon:hover {
  background-color: rgb(222, 222, 222);
  border-radius: 20px;
}
.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
.notifications-icon-counter {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 12px;
  top: 2px;
}
.notif {
  font-family: Roboto, arial;
  font-weight: bold;
  padding-right: 11px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(206, 49, 49);
  color: white;
}
.crative-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  padding: 0px 18px 0px 18px;
  border-radius: 30px;
  cursor: pointer;
}
.pluss {
  font-size: 30px;
  font-weight: bold;
  font-weight: smaller;
  margin-right: 8px;
}
.Creat {
  font-family: Roboto, arial;
  font-size: 14px;
  font-weight: bold;
}
.under-creative {
  display: flex;
  position: relative;
}
.under-creative-button {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: start;
  justify-content: center;
  position: absolute;
  top: 18px;
  left: -75px;
  right: -100px;
  bottom: -150px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}
.crative-button:hover .under-creative-button {
  opacity: 1;
}
.crative-button:hover {
  background-color: rgb(227, 227, 227);
}
.upload-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.upload-div img {
  width: 30px;
  margin-right: 14px;
  margin-left: 12px;
}
.text-under {
  font-family: Roboto, arial;
  font-size: 14px;
  margin-bottom: 3px;
}