p {
  font-size: 8px;
}
.sidebar {
  background-color: white;
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  width: 75px;
  z-index: 3;
}
.sidebar-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 275px;
  margin-top: 0px;
}
.sidebar-flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
}
.sidebar-flex-1:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.home-picture,
.shorts-picture,
.subscriptions-picture,
.person-picture {
  height: 25px;
  width: 25px;
}
